@import "~styles/theme";

.wrapper {
  display: grid;
  grid-template-areas:
    "filters filters filters filters"
    "task task task form"
    "task task task form";
  grid-gap: @indent * 2;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
}

.filters {
  grid-area: filters;
}

.todos {
  grid-area: task;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: @indent;
  overflow: auto;
}

.form {
  grid-area: form;
}
